html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff; /* color base de litera */
}

.embed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.embed-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
